body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    max-width: 6000px;
    margin: 250px ;
    padding: 20px;
    background-size:auto;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 30px;
    padding: 20px 0;
    background-image: linear-gradient(to right, #007bff, #00bfff);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 18px;
    font-weight: bold;
    color: #555;
}

textarea, input[type="datetime-local"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

textarea:focus, input[type="datetime-local"]:focus {
    outline: none;
    border-color: #007bff;
}

input[type="file"] {
    display: none;
}

.upload-btn {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.upload-btn:hover {
    background-color: #0056b3;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 18px;
}

button[type="submit"]:hover {
    background-color: #218838;
}
